# To run backend create file .env in root folder of beckend
# then install postgresql then create database their name the database name while creating as below i write (or any just keep same name in .env and in postgre db)
# and then in .env as below write and in DB_password write you postgre real pass that you created while setup the postgre for the first time.
# Now down enjoy! hehe.
#and database ma role tyo login/group ma create garda photoDelivery name rakhnu haii and pass afno man ko rakhnu ani muni paste garnu taii pass

DB_HOST = localhost
SECRET_KEY=django-insecure-your-secret-key-here
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY = write_any_secret_key_!@#23
DB_NAME = Kyapture_DB
DB_USER = photoDelivery
DB_PASSWORD = enter_your_postgre_pass
DB_PORT = 5432
