{% extends "emails/base.html" %}
{% block preheader %}Choose a new password for your Kyapture account.{% endblock %}
{% block heading %}Reset your password{% endblock %}
{% block content %}
            <p style="margin:0 0 16px 0;">Hi {{ display_name }},</p>
            <p style="margin:0;">We received a request to reset the password for your Kyapture account. Click the button below to choose a new one.</p>
{% endblock %}
{% block action %}{% include "emails/_button.html" with url=reset_url label="Reset Password" %}{% endblock %}
{% block after %}
            <p class="em-muted" style="margin:0 0 12px 0;font-size:13px;line-height:1.7;color:#6b6b70;">This link works once and expires in {{ minutes }} minutes. Only the newest link you requested works. If you didn&rsquo;t request this, you can safely ignore this email &mdash; your password will not be changed.</p>
            <p class="em-muted" style="margin:0;font-size:13px;line-height:1.7;color:#6b6b70;word-break:break-all;">If the button doesn&rsquo;t work, copy and paste this link into your browser:<br><a href="{{ reset_url }}" style="color:#6b6b70;">{{ reset_url }}</a></p>
{% endblock %}
