{% extends "emails/base.html" %}
{% block preheader %}Your Kyapture password was changed.{% endblock %}
{% block heading %}Your password was changed{% endblock %}
{% block content %}
            <p style="margin:0 0 16px 0;">Hi {{ display_name }},</p>
            <p style="margin:0 0 16px 0;">The password for your Kyapture account ({{ email }}) was changed on {{ when }}{% if via_reset %} using a password reset link{% elif by_staff %} by the Kyapture team{% endif %}. Every device that was signed in has been signed out.</p>
            <p style="margin:0;">If this was you, there is nothing else to do. If it wasn&rsquo;t you, reset your password now.</p>
{% endblock %}
{% block action %}{% include "emails/_button.html" with url=forgot_url label="Reset Password" %}{% endblock %}
